/* Estilo general para el VBox */
.vbox {
    -fx-background-color: #f5f5f5; /* Color de fondo gris claro */
    -fx-padding: 20; /* Espaciado interno */
}

/* Estilo para las etiquetas */
.label {
    -fx-text-fill: #ff8c00; /* Color de texto naranja */
    -fx-font-size: 16px; /* Tamaño de fuente */
}

/* Estilo para los botones */
.button {
    -fx-background-color: #ff8c00; /* Color de fondo naranja */
    -fx-text-fill: white; /* Color de texto blanco */
    -fx-font-size: 14px; /* Tamaño de fuente */
    -fx-padding: 10px; /* Espaciado interno */
    -fx-border-radius: 5; /* Bordes redondeados */
    -fx-background-radius: 5; /* Bordes redondeados */
}

/* Estilo para los botones al pasar el mouse */
.button:hover {
    -fx-background-color: #ff7f50; /* Color de fondo naranja más oscuro */
}
